<h1 class="text-success text-center">Diretivas do Angular</h1>

<!-- Diretivas de Atributo -->
<div 
    [ngStyle]="{background: cont < 5 ? 'red' : 'blue'}"
    [ngClass]="{custom: cont > 4}"    
>
    <h2 class="text-center">Contador: {{cont}}</h2>
</div>

<!-- Direivas Estruturais -->
<h2 *ngIf="cont > 7; else menor">O contador passou de 7</h2>

<ng-template #menor>
    <h2>O contador é menor que 7</h2>
</ng-template>

<ul 
    class="list-group mx-auto col-3"
    [ngSwitch]="cont"
>
    <li 
        class="list-group-item"
        *ngSwitchCase="3"
    >
        É igual a 3
    </li>
    <li 
        class="list-group-item"
        *ngSwitchCase="5"
    >
        É igual a 5
    </li>
    <li 
        class="list-group-item"
        *ngSwitchCase="8"
    >
        É igual a 8
    </li>
    <li 
        class="list-group-item"
        *ngSwitchDefault
    >
        É igual a Default
    </li>
</ul>

<ul class="list-group mx-auto my-4 col-3">
    <li 
        class="list-group-item my-1" 
        *ngFor="let pessoa of pessoas"
    >
        O nome da pessoa é {{pessoa.nome}} {{pessoa.sobrenome}}.
    </li>
</ul>

<div class="mx-auto col-3">
    <button class="btn btn-success col-4 mx-auto" (click)="clicou('Alan')">Clique</button>
</div>

<div class="mx-auto col-3 my-3">
    <input 
        type="text" 
        name="campo de texto" 
        placeholder="Digite alguma coisa"
        class="form-control"
        [(ngModel)]="text"
    >
    <h5>Saída: {{text}}</h5>
</div>